body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.color-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(257, 92%, 15%);
}

.color-generator-container h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.color-generator-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 150px;
  width: 200px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.689);
  transition: 0.3s ease;
}

.color-generator-box p {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.color-generator-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.color-generator-container input {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
